* {
  // thanks https://coolors.co
  --blue-heavy: #00112c;
  --blue-light: #003566;
  --blue-ultralight: #006bcf;
  --blue-medium: #002247;
  --gold-light: #ffd60a;
  --gold-medium: #ffc300;
  --orange-medium: rgb(235, 154, 6);
  --red-medium: rgb(138, 35, 35);
  --resume-header-bg: rgb(225, 225, 225);
  --text-dark: rgb(42, 42, 42);
  --text-light: #ffffee;
}
